/* Stylesheet Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
	font-family: 'Open Sans', sans-serif;
}

.logo {
	width:194px;
	height:100px;
	margin:100px auto 0 auto;
	font-size:70px;
	color:#666;
	font-weight: 300;
	letter-spacing: -2px;
}


.search-block {
	width:511px;
	margin:0 auto;
}

input.search {
	margin:0 auto;
	width:400px;
	text-align: left;
	border-radius:4px;
	padding:8px;
	border:1px solid #888;
} 

button {
	background-color:#666;
	padding:8px 15px;
	color:#fff;
	font-size:18px;
	border:none;
	border-radius:5px;
}

button:hover {
	background-color:#888;
	color:#fff;
}

input:focus {
	box-shadow:0px 0px 6px #;
}

p.copyright {
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200px; /*negative half the width */
    width:400px;
    height:20px;
    font-size:75%;
    text-align: center;
}